
.color_font_white{
	color: #FFFFFF;
}

.color_font_black{
	color: #000000;
}

.color_background_black{
	background-color: #000000;
}

.color_background_white{
	background-color: #FFFFFF;
}

.color_background_gray{
	background-color: #f2f2f2;
}