.dream .dream_summary {
	width: 1155px;
	height: 112px;
	font-size: 18px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 600;
	color: #000000;
	line-height: 50px;
	letter-spacing: 2px;
	margin: auto;
	text-align: center;
	margin-top: 58px;
}


.dream>img {
	width: 100%;
	height: 389px;
	margin-top: 25px;
}
