.header .swiper-banner .bottom_contact_content {
	position: fixed;
	bottom: 130px;
	z-index: 10;
	right: 16px;
}

.header_swiper-banner_contact {
	width: 1100px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	margin: auto;
}

.swiper-banner .header_swiper-banner_contact .ds_contact {
	width: 218px;
	height: 52px;
	background: #F6F5F7;
	border-radius: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -75px;
	cursor: pointer;
	box-shadow: 0 0 60px #ccc;
}

.header .swiper-banner .bottom_contact_content :hover .ds_contact {
	box-shadow: 0 0 20px #ccc;
}

.header .swiper-banner .bottom_contact_content :hover .ds_contact_other {
	width: 306px;
	opacity: 1;
}

.swiper-banner .header_swiper-banner_contact .ds_contact img {
	width: 18px;
	height: 18px;
}

.swiper-banner .header_swiper-banner_contact .ds_contact span {
	width: 87px;
	height: 19px;
	font-size: 18px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #110091;
	line-height: 25px;
}

.swiper-banner .header_swiper-banner_contact .ds_contact_other {
	width: 0;
	height: 52px;
	border-radius: 88px 0px 0px 88px;
	align-items: center;
	display: flex;
	margin-left: -75px;
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s;
}

.swiper-banner .header_swiper-banner_contact .ds_contact_other span {
	height: 19px;
	font-size: 18px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: #110091;
	line-height: 25px;
	margin-left: 86px;
	color: #FFFFFF;
}
